
  .MealCard {
    display: flex;
    justify-content: center;
    padding: 1.25em;
    width: 400px;
  
  }
  
  .MealCard img {
    display: flex;
    border-radius: 8px;
    max-height: 120px;
    margin-right: 19px;
  }
  
  