.wrapper {
  float: left;
  width: 33%;
}

.wrapper .cards-info {
  display: flex;
  flex-direction: column;
  /* flex-wrap: wrap; */
  align-items: center;
  margin-top: 100px;
}

.cards-image {
  width: 50%;
  height: 50%;
  margin-bottom: 15px;
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.cards-image:hover {
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
}

.cards-description {
  font-size: 22px;
  font-weight: lighter;
}

/* .cards-button {
    width: 50px;
    height: 50px;
    padding-left: 5em;
  } */
.button {
  display: inline-block;
  background-color: #f69740;
  border: none;
  color: #ffffff;
  text-align: center;
  font-size: 60px;
  padding: 10px;
  width: 100%;
  transition: all 0.5s;
  cursor: pointer;
  margin-top: 70px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 50px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}
.button a {
  text-decoration: none;
  color: #ffffff;
  font-size: 50px;
  font-weight: bold;
}

@media only screen and (max-width: 950px) {
  .wrapper {
    width: 50%;
  }
}

@media only screen and (max-width: 520px) {
  .wrapper {
    width: 100%;
  }
  .wrapper .cards-info {
    margin-left: 20px;
    display: flex;
    flex-direction: row;
    align-content: space-between;
  }
  .cards-description {
    font-size: 30px;
    font-weight: lighter;
  }
  .button {
    width: 700px;
  }
}

@media only screen and (max-width: 480px) {
  .wrapper {
    width: 100%;
    margin-left: 50px;
    margin-right: 50px;
  }
}
