nav {
    background-color: #F69740;
}

.nav-item {
    padding: 10px;
}

.nav-link {
    font-size: 18px;
}

.nav-link:hover {
    border-bottom: 1px solid #ffffff;
    border-top: 1px solid #ffffff;
    background-color: #ff000015;
}

button {
    background-color: #ffffff;
}